* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;
  outline: 0;
}

:root {
  --container-width-lg: 85%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

@font-face {
  font-family: "Britanic";
  src: url("./fonts/Britanica Bold.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
}

img {
  width: auto;
  height: auto;
}
html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  width: auto;
  height: auto;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.main-btn:hover,
.main-btn:focus {
  background: gray;
}
.main-btn {
  width: 7.9375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.8rem 2rem; */
  background: #174698;
  color: #fff;
  font-family: "Britanic";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  gap: 0.4rem;
}
.main-btn span {
  padding-top: 0.35rem;
}
.outline-btn {
  width: 7.9375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  /* padding: 0.8rem 2rem; */
  background: #fff;
  color: #000;
  font-family: "Britanic";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border: 1px solid #a1a1aa;
}
.out-btn {
  width: 7.9375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  /* padding: 0.8rem 2rem; */
  background: transparent;
  color: #222;
  font-family: "Britanic";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    /* margin: 0 auto; */
  }
}
